<div class="fadeScreen" id="fadeBlack" style="opacity: 0; pointer-events: none;" onclick="useDrawer()"></div>
<div class="drawer" id="mainSidenav" style="width: 0;">
	<header id="drawerHeader">
		<h2>Menu</h2>
	</header>
	{% include navtabs.html %}
</div>
<script>
let isOpen = false;
function useDrawer() {
var drawerButton = document.getElementById("drawerButton");
	if (isOpen == false)
	{
		drawerButton.textContent = "X";
		document.getElementById("html").style.overflowY = "hidden";
		document.getElementById("drawerHeader").appendChild(drawerButton);
		document.getElementById("fadeBlack").style.opacity = "0.5";
		document.getElementById("mainSidenav").style.width = "50%";
		document.getElementById("fadeBlack").style['pointer-events'] = 'auto';
	} else
	{
		drawerButton.textContent = "≡";
		document.getElementById("html").style.overflowY = "auto";
		document.getElementById("header").appendChild(drawerButton);
		document.getElementById("fadeBlack").style.opacity = "0.0";
		document.getElementById("mainSidenav").style.width = "0";
		document.getElementById("fadeBlack").style['pointer-events'] = 'none';
	}
	isOpen = !isOpen;
}
</script>
