			<a class="tab noSelect" href="https://nekorosys.github.io/">
				<span class="material-symbols-outlined">home</span>
				<p>Home</p>
			</a>
			<a class="tab noSelect" href="https://nekorosys.github.io/blogs/">
				<span class="material-symbols-outlined">article</span>
				<p>Blogs</p>
			</a>
			<a class="tab noSelect" href="https://nekorosys.github.io/projects/">
				<span class="material-symbols-outlined">tactic</span>
				<p>Projects</p>
			</a>
			<a class="tab noSelect" href="https://nekorosys.github.io/docs/about/">
				<span class="material-symbols-outlined">info</span>
				<p>About</p>
			</a>
