<style>
body {
    font-family: "Merriweather", serif;
    font-size: smaller;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header, .drawer header {
    background: linear-gradient(to top, #212121 0%, black 100%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

.headercontent a, .drawer header a {
    text-decoration: none !important;
    transition: text-shadow 0.25s cubic-bezier(0, 0, 0, 1);
    color: white;
}

.drawer header a {
    color: black;
}

.headercontent a:hover {
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.drawer header a:hover {
	text-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
}

.drawerButton {
    font-size: 50px;
    cursor: pointer;
}

.drawer {
    background: linear-gradient(to top, #212121 0%, black 100%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.drawer a:not(#drawerButton) {
    text-decoration: none !important;
    color: white;
    background: linear-gradient(to bottom, #202020 0%, #323232 100%);
    transition: text-shadow 0.25s cubic-bezier(0, 0, 0, 1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

.drawer a:not(#drawerButton):hover {
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.drawer header {
    color: black;
    background: linear-gradient(to bottom, white 0%, #999999 100%);
    box-shadow: 0px 0px 50px rgb(255 255 255 / 75%);
}

.fadeScreen {
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

.topnav {
    background: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

.topnav a {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
    transition: font-size 0.25s cubic-bezier(0, 0, 0, 1), text-shadow 0.25s cubic-bezier(0, 0, 0, 1);
    font-size: 17px;
}

.topnav a:hover {
    color: white;
    background-image: linear-gradient(to top, white 0%, #E8E8E8 100%);
    box-shadow: rgba(50, 50, 50, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
    font-size: 18px;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.maincontainer {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.38);
}

.titlebar {
    background: linear-gradient(to bottom, #212121 0%, black 100%);
    color: white;
    font-weight: bold;
}

.textbox {
    background: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
}

footer {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
    background-color: #212121;
    color: white;
}

@media (max-width: 480px) {
    header {
        font-size: 11px;
    }

    p, a, button, li {
        font-size: 14px;
    }
}

@media (min-width: 480px) {
    header {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0);
    }
}
</style>
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ '/assets/images/favicon.ico' }}" media="screen" rel="shortcut icon"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap" type="text/css" media="screen" rel="preload" as="style" onload="this.rel='stylesheet'; this.onload=null"/>
<noscript><link rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap"></noscript>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" type="text/css" media="screen" rel="preload" as="style" onload="this.rel='stylesheet'; this.onload=null"/>
<noscript><link rel="stylesheet" type="text/css" media="screenr" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"></noscript>
<link href="{{ page.background | default: site.background }}" type="text/css" media="screen" rel="preload" as="style" onload="this.rel='stylesheet'; this.onload=null"/>
<noscript><link rel="stylesheet" type="text/css" media="screen" href="{{ page.background | default: site.background }}"></noscript>
