---
---

.background {
	background-image: url('/assets/images/building.jpg');
	background-color: #e49c53;
}

.gradient {
	box-shadow: 0px 0px 25px rgba(0,0,0,0.38);
	background-image: linear-gradient(to bottom right,rgba(255,255,255,0.5),rgba(228,156,83, 1));
}
