body {
    font-family: "Merriweather", serif;
    font-size: smaller;
}

.background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
     	background-attachment: fixed;
}

header {
	color: white;
	background: linear-gradient(to top, #212121  0%, black 100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,0.75);
}

.headercontent a {
	text-decoration: none !important;
	transition: text-shadow 0.25s linear;
	color: white;
}

.headercontent a:hover {
	text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.drawer header a {
	text-decoration: none !important;
	transition: text-shadow 0.25s linear;
	color: black;
}

.drawer header a:hover {
	text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
}

.drawerButton {
	font-size: 50px;
	cursor: pointer;
}

.drawer {
	background: linear-gradient(to top, #212121  0%, black 100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,0.75);
	transition: 0.5s;
}

.drawer a:not(#drawerButton) {
	text-decoration: none !important;
	color: white;
	background-color: black;
}

.drawer header {
	color: black;
	background: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
}

.fadeScreen {
	background-color: black;
	opacity: 0;
	transition: 0.5s;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

.topnav {
	background: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
	box-shadow: 0px 0px 25px rgba(0,0,0,0.75);
	font-weight: bold;
}

.topnav a {
	color: black;
	text-decoration: none;
	background-image: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
	transition: font-size 0.25s linear;
	font-size: 17px;
}

.topnav a:hover {
	background-image: linear-gradient(to top, white 0%, #E8E8E8 100%);
	font-size: 18px;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

.maincontainer {
	box-shadow: 0px 0px 25px rgba(0,0,0,0.38);
}

.titlebar {
	background: linear-gradient(to bottom, #212121  0%, black 100%);
	color: white;
	font-weight: bold;
}

.textbox {
	background: linear-gradient(to bottom, white 0%, #E8E8E8 100%);
}

footer {
	box-shadow: 0px 0px 25px rgba(0,0,0,0.75);
	background-color: #212121;
	color: white;
}

@media (max-width: 480px) {	
	header {
		font-size: 11px;
	}

	p {
		font-size: 14px;
	}

	a {
		font-size: 14px;
	}

	button {
		font-size: 14px;
	}

	li {
		font-size: 14px;
	}
}

@media (min-width: 480px) {
	header {
		box-shadow: 0px 0px 25px rgba(0,0,0,0);
	}
}
