<!DOCTYPE html>
<html id="html" lang="{{ site.lang | default: "en-US" }}" style="overflow-y: auto;">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
		{% include website-style.html %}
		{% seo %}
    		{% include head-custom.html %}
	</head>

	<body>
	<div class="background"></div>
	<div class="fadeScreen" id="fadeBlack" style="opacity: 0; pointer-events: none;" onclick="useDrawer()"></div>
	<div class="drawer" id="mainSidenav" style="width: 0;">
		<header id="drawerHeader">
			<h2>Menu</h2>
		</header>
		{% include navtabs.html %}
	</div>
		
	<header>
		<div id="header" class="headercontent">
			<a class="noSelect" href="index.html"><h1 id="project_title" style="text-align: center;">{{ site.title | default: site.github.repository_name }}</h1></a>
			<a class="drawerButton noSelect" onclick="useDrawer()" id="drawerButton"><b>≡</b></a>
		</div>
		<div class="topnav">
			{% include navtabs.html %}
		</div>
	</header>
	<div class="wrapper">
		<div class="content">
		<div class="gradient">
			<main>
			<div class="maincontainer">
				<div class="titlebar">
					<h2>{{ page.title }}</h2>
				</div>
				
				<div class="textbox">
				<div class="textboxcontent">
					{% if page.ispost %}
					        {% include post-info.html %}
						<br>
					{% endif %}
					{{ content }}
				</div>
				</div>
			</div>
			</main>
		</div>
		</div>
	</div>
	<footer>
		<p><b>Made with ❤️ by NeKoRoSYS</b></p>
	</footer>
	<script src="/assets/js/drawer.js" defer></script>
	</body>
</html>
