<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,maximum-scale=2">
		<link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.ico"  | absolute_url }}">
		<link id="skin" rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/skin.css?v=' }}">	
		<link id="layout" rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/layout.css?v=' }}">
		<link id="background" rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/home.css?v=' }}">
		{% seo %}
    		{% include head-custom.html %}
	</head>

	<body onload="checkMobile();">
	<script>
		window.onload = checkMobile();
		function checkMobile() {
		var layout = document.getElementById('layout');
		var skin = document.getElementById('skin');
		const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
		if (isMobile) {
			layout.setAttribute('href', '{{ '/assets/css/layoutmobile.css?v=' | append: site.github.build_revision | relative_url }}');
			skin.setAttribute('href', '{{ '/assets/css/skinmobile.css?v=' | append: site.github.build_revision | relative_url }}');
		} else
			{
			layout.setAttribute('href', '{{ '/assets/css/layout.css?v=' | append: site.github.build_revision | relative_url }}');
			skin.setAttribute('href', '{{ '/assets/css/skin.css?v=' | append: site.github.build_revision | relative_url }}');
			}
		}
		</script>
	<div class="background"></div>
	<header>
		<div class="headercontent">
			<a href="index.html"><h1 id="project_title" style="text-align: center;">{{ site.title | default: site.github.repository_name }}</h1></a>
		</div>
		<div class="topnav">
			<a href="https://nekorosys.github.io/">Home</a>
			<a href="https://nekorosys.github.io/docs/blogs/">Blogs</a>
			<a href="https://nekorosys.github.io/docs/projects/">Projects</a>
			<a href="https://nekorosys.github.io/docs/about/">About</a>
		</div>
	</header>
	<div class="wrapper">
		<div class="content">
		<div class="gradient">
			<main>
			<div class="maincontainer">
				<div class="titlebar">
					<p>{{ site.title }}</p>
				</div>
				
				<div class="textbox">
				<div class="textboxcontent">
					<p>{{ content }}</p>
				</div>
				</div>
			</div>
			</main>
		</div>
		</div>
	</div>
	<footer>
		<p><b>Made with ❤️ by NeKoRoSYS</b></p>
	</footer>
	</body>
</html>
